* {
    margin: 0;
}

table, td, th {
    padding: 15px;
    background-color: #737373;
    font-family: sans-serif;
    border-collapse: collapse;
}

th {
    color: rgba(153, 153, 153, 0.9);
    font-size: 1.5em;
}



td.white {
    font-style: italic;
    color: #fff;
}

#red {
    text-transform: capitalize;
    color: red;
    font-weight: 600;
}

td.yellow {
    color: rgba(255, 255, 102, 0.9);
}

td.gray {
    color:rgb(153, 153, 153);
}

#orange {
    color: orangered;
    font-weight: 600;
}

#name::before {
    content: "";
    margin: 5px;
    padding-right: 16px;
    background-color: lime;
    border-radius: 100%;
}

