* {
    margin: 0;
}

table, td, tr {
    padding: 10px;
    text-align: left;
    font-size: 1.15em;
    font-family: sans-serif;
    border-collapse: collapse;
    border-right:  1px solid silver;
    
}

table {
    width: 50%;
    max-width: 100%;
}

tr:nth-child(odd) {
    background-color: lemonchiffon;
}

tr.first td {
    color: #fff;
    background-color: limegreen;
    font-size: 1.20em;
    border-bottom: 1px solid silver;
}

img {
    width: 25px;
    height: 16px;
    padding: 0 10px;
}